html {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  #home {
    background: linear-gradient(rgba(14, 66, 143, 0.7), rgba(37, 115, 234, 0.7), rgba(14, 66, 143, 0.7)), url(../../img/code-portrait.jpg);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }
  #home header {
    display: grid;
    grid-template-row: 1fr 1fr;
    background: rgba(0, 0, 0, 0.3);
    margin: 0;
  }
  #home header figure {
    grid-row: 1/2;
    margin: 0;
    align-self: center;
    justify-self: center;
  }
  #home header nav {
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    width: 100%;
  }
  #home header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #home header nav ul li {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  #home main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #home main section h1 {
    color: #ffffff;
    text-align: center;
    font-size: 6rem;
    margin: 0;
  }
  #home main section h2 {
    text-align: center;
    color: #8ae7c3;
    font-size: 4.5rem;
    margin: 0;
  }
  #home footer {
    background-color: #010630;
    color: #ffffff;
    text-align: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  #home {
    background: linear-gradient(rgba(14, 66, 143, 0.7), rgba(37, 115, 234, 0.7), rgba(14, 66, 143, 0.7)), url(../../img/code-paysage.jpg);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }
  #home header {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    background: rgba(0, 0, 0, 0.3);
    margin: 0;
  }
  #home header figure {
    grid-column: 1/2;
    margin: 0;
    align-self: center;
    justify-self: center;
  }
  #home header nav {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    width: 100%;
  }
  #home header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #home header nav ul li {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  #home main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #home main h1 {
    color: #ffffff;
    text-align: left;
    font-size: 8rem;
    margin: 0;
  }
  #home main h2 {
    text-align: left;
    color: #8ae7c3;
    font-size: 5rem;
    margin: 0;
  }
  #home footer {
    background-color: #010630;
    color: #ffffff;
    text-align: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
  }
}
@media (max-width: 767px) {
  #listcours {
    width: 100vw;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }
  #listcours > header {
    display: grid;
    grid-template-row: 1fr 1fr;
    background: #010630;
    margin: 0;
  }
  #listcours > header figure {
    grid-row: 1/2;
    margin: 0;
    align-self: center;
    justify-self: center;
  }
  #listcours > header nav {
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    width: 100%;
  }
  #listcours > header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #listcours > header nav ul li {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  #listcours > main {
    min-height: 90vh;
    width: 96%;
    margin: auto;
    color: #010630;
    padding-bottom: 4rem;
  }
  #listcours > main > section {
    padding-top: 3rem;
    display: grid;
    grid-template-rows: 0.2fr 1fr 3fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  #listcours > main > section h2 {
    font-size: 3.2rem;
    font-family: "Roboto Condensed", sans-serif;
    color: #00398f;
    font-weight: 700;
    margin-top: 0;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  #listcours > main > section > ul {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
  }
  #listcours > main > section > ul article {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }
  #listcours > main > section > ul article header {
    grid-row: 1/2;
  }
  #listcours > main > section > ul article header h3 {
    font-size: 2.5rem;
    color: #0166ff;
    text-align: center;
    margin: 0;
  }
  #listcours > main > section > ul article header ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }
  #listcours > main > section > ul article header ul li {
    border-radius: 25px;
    background-color: #f0f0f0;
    color: #00398f;
    text-align: center;
  }
  #listcours > main > section > ul article section {
    grid-row: 2/3;
  }
  #listcours > main > section > ul article footer {
    grid-row: 3/4;
  }
  #listcours > main > section > ul article footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }
  #listcours > main > section > ul article footer ul li {
    border-radius: 25px;
    color: #00398f;
    text-align: center;
  }
  #listcours > main > section > ul article footer ul li button {
    background-color: #00398f;
    padding: 5px;
    border-radius: 25px;
    color: white;
    border: none;
    width: 80%;
  }
  #listcours > main > section aside {
    grid-row: 2/3;
    padding: 1rem;
    border: 1px solid #0166ff;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  }
  #listcours > main > section aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #listcours > main > section aside span {
    margin: 10px;
  }
  #listcours > footer {
    background-color: #010630;
    color: #ffffff;
    text-align: center;
    width: 100vw;
    margin: 0;
    height: 8vh;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  #listcours {
    width: 100vw;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }
  #listcours > header {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    background: #010630;
    margin: 0;
  }
  #listcours > header figure {
    grid-column: 1/2;
    margin: 0;
    align-self: center;
    justify-self: center;
  }
  #listcours > header nav {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    width: 100%;
  }
  #listcours > header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #listcours > header nav ul li {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  #listcours > main {
    min-height: 90vh;
    width: 100%;
    color: #010630;
    padding-bottom: 4rem;
    background: #f0f0f0;
  }
  #listcours > main > section {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  #listcours > main > section h2 {
    font-size: 3.2rem;
    font-family: "Roboto Condensed", sans-serif;
    color: #00398f;
    font-weight: 700;
    margin-top: 0;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  #listcours > main > section > ul {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    padding: 10px;
  }
  #listcours > main > section > ul article {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 18vh 22vh 10vh;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }
  #listcours > main > section > ul article header {
    grid-row: 1/2;
  }
  #listcours > main > section > ul article header h3 {
    font-size: 2.5rem;
    color: #0166ff;
    text-align: center;
    margin: 0;
  }
  #listcours > main > section > ul article header ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }
  #listcours > main > section > ul article header ul li {
    border-radius: 25px;
    background-color: #f0f0f0;
    color: #00398f;
    text-align: center;
  }
  #listcours > main > section > ul article section {
    grid-row: 2/3;
  }
  #listcours > main > section > ul article footer {
    grid-row: 3/4;
  }
  #listcours > main > section > ul article footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }
  #listcours > main > section > ul article footer ul li {
    border-radius: 25px;
    color: #00398f;
    text-align: center;
  }
  #listcours > main > section > ul article footer ul li button {
    background-color: #00398f;
    padding: 5px;
    border-radius: 25px;
    color: white;
    border: none;
    width: 80%;
  }
  #listcours > main > section aside {
    padding: 1rem;
    border: 1px solid #0166ff;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  }
  #listcours > main > section aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #listcours > main > section aside span {
    margin: 10px;
  }
  #listcours > footer {
    background-color: #010630;
    color: #ffffff;
    text-align: center;
    width: 100vw;
    margin: 0;
    height: 8vh;
    bottom: 0;
  }
}
@media (max-width: 767px) {
  #cours {
    margin: 0;
    padding: 0;
  }
  #cours > header {
    display: grid;
    grid-template-row: 1fr 1fr;
    background: #010630;
    margin: 0;
  }
  #cours > header figure {
    grid-row: 1/2;
    margin: 0;
    align-self: center;
    justify-self: center;
  }
  #cours > header nav {
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    width: 100%;
  }
  #cours > header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #cours > header nav ul li {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  #cours > main {
    min-height: 70vh;
    width: 100%;
    color: #010630;
    background: #f0f0f0;
  }
  #cours > footer {
    background-color: #010630;
    color: #ffffff;
    text-align: center;
    width: 100vw;
    margin: 0;
    height: 8vh;
    bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
